form {
  display: grid;
  grid-template-columns: 2rem 4rem 12rem 1fr 14rem 4rem;
  max-width: 80rem;
  grid-gap: 8px 8px;
}
input {
  font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
}
.label {
  font-weight: bold;
}
.moveControls {
  display: flex;
  gap: 2px;
}
.moveButton {
  padding: 0 4px;
}
#createSubmenusRow {
  grid-column: span 6;
}
#btnGroup {
  grid-column: span 6;
}
